<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
	<display-name>seckill</display-name>
	
	<!-- Spring配置 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:ApplicationContext.xml</param-value>
	</context-param>
	<!-- 用于解决同一容器下不同的web项目问题 -->
	<context-param>
		<param-name>webAppRootKey</param-name>
		<param-value>app.root</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<!-- log4j配置 -->
	<context-param>
		<param-name>log4jConfigLocation</param-name>
		<param-value>classpath:log4j.properties</param-value>
	</context-param>
	<listener>
    <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
 	</listener>
 	
 	<!-- 过滤器 -->
 	<filter>
	    <filter-name>CharacterEncodingFilter</filter-name>
	    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
	    <init-param>
	      <param-name>encoding</param-name>
	      <param-value>utf-8</param-value>
	    </init-param>
	  	</filter>
	  	<filter-mapping>
		    <filter-name>CharacterEncodingFilter</filter-name>
		    <url-pattern>/*</url-pattern>
  	</filter-mapping>
 	
 	<!-- SpringMVC配置 -->
 	<servlet>
    	<servlet-name>blog_web_SpringMVC</servlet-name>
    	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    	<init-param>
	      <param-name>contextConfigLocation</param-name>
	      <param-value>classpath:springMVC.xml</param-value>
    	</init-param>
    	<load-on-startup>1</load-on-startup>
  	</servlet>
  	<servlet-mapping>
	    <servlet-name>blog_web_SpringMVC</servlet-name>
	    <url-pattern>*.do</url-pattern>
  	</servlet-mapping>
 	
 	<!-- 欢迎页面 -->
  	<welcome-file-list>
    	<welcome-file>hello.jsp</welcome-file>
  	</welcome-file-list>
 	
</web-app>